# Descripción

La región de Medio Oriente ha sido escenario de conflictos prolongados, cambios políticos bruscos y tensiones étnicas y religiosas. Estos factores contribuyen a una inestabilidad geopolítica significativa, afectando la seguridad, economía y la vida cotidiana de millones de personas. La guerra civil en Siria, que comenzó en 2011, ha causado una devastadora crisis humanitaria y ha tenido profundas implicaciones geopolíticas a nivel regional y global. La inestabilidad resultante ha afectado no solo a Siria sino también a los países vecinos y ha tenido repercusiones en Europa debido a la crisis de refugiados. La inestabilidad geopolítica en Medio Oriente es una de las problemáticas más complejas y prolongadas a nivel mundial. La región ha sido testigo de conflictos armados, revoluciones, intervenciones extranjeras y tensiones étnicas y religiosas. Estos factores han generado un ambiente de inseguridad y volatilidad que afecta tanto a los países de la región como a la comunidad internacional.

In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('../Dataset/geopolitical_instability_middle_east.csv', sep=',')

In [9]:
df

,Conflict_ID,Region,Conflict_Type,Start_Date,End_Date,Number_of_Incidents,Number_of_Deaths,Intervention_ID,Intervention_Country,Intervention_Organization,...,Government_Transparency,Number_of_Scandals,Number_of_Displaced_People,Number_of_Refugees,Humanitarian_Needs,Access_to_Humanitarian_Aid,Technology_Use_in_Conflicts,Technological_Investment,Number_of_Data_Analysis_Projects,Data_Analysis_Effectiveness
0,1,Afghanistan,terrorism,2010-01-01,NaN,48,820,1,Iraq,Red Cross,...,8,6,1097330,973012,medicine,high,low,40,12,7
1,2,Afghanistan,civil war,2010-01-02,2023-01-01,18,284,2,Afghanistan,Red Cross,...,7,2,4064229,1822404,shelter,low,medium,71,48,2
2,3,Iran,terrorism,2010-01-03,2023-01-01,55,29,3,Yemen,UN,...,2,4,1308294,1392299,shelter,medium,high,42,4,1
3,4,Iran,territorial conflict,2010-01-04,2023-01-01,14,458,4,Afghanistan,Red Cross,...,4,6,92928,878925,medicine,medium,medium,18,30,4
4,5,Iraq,terrorism,2010-01-05,2023-01-01,34,935,5,Iraq,Red Cross,...,4,5,3494593,1090382,water,medium,low,76,11,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Syria,terrorism,2037-05-14,NaN,63,757,9996,Iraq,UN,...,1,9,938855,534834,shelter,low,high,80,47,7
9996,9997,Iran,terrorism,2037-05-15,NaN,95,45,9997,Iran,UN,...,2,1,3445901,2273746,water,low,medium,57,31,2
9997,9998,Afghanistan,territorial conflict,2037-05-16,NaN,98,121,9998,Yemen,Red Cross,...,6,5,4246780,1884898,food,medium,medium,91,1,9
9998,9999,Syria,territorial conflict,2037-05-17,NaN,38,713,9999,Afghanistan,UN,...,1,4,946595,414533,water,low,medium,9,13,8
9999,10000,Afghanistan,civil war,2037-05-18,2023-01-01,75,418,10000,Iraq,Red Cross,...,7,9,2872072,2723564,water,medium,low,38,16,6

In [11]:
df.shape

(10000, 37)

In [14]:
df.columns

Index(['Conflict_ID', 'Region', 'Conflict_Type', 'Start_Date', 'End_Date',
       'Number_of_Incidents', 'Number_of_Deaths', 'Intervention_ID',
       'Intervention_Country', 'Intervention_Organization',
       'Intervention_Type', 'Intervention_Start_Date', 'Intervention_End_Date',
       'Intervention_Success', 'Country', 'Population', 'GDP_Per_Capita',
       'Unemployment_Rate', 'Poverty_Index', 'Literacy_Rate', 'Ethnic_Group',
       'Main_Religion', 'Ethnic_Religious_Tension', 'Number_of_Conflicts',
       'Last_Conflict_Date', 'Corruption_Index', 'Governance_Quality',
       'Government_Transparency', 'Number_of_Scandals',
       'Number_of_Displaced_People', 'Number_of_Refugees',
       'Humanitarian_Needs', 'Access_to_Humanitarian_Aid',
       'Technology_Use_in_Conflicts', 'Technological_Investment',
       'Number_of_Data_Analysis_Projects', 'Data_Analysis_Effectiveness'],
      dtype='object')